@charset "UTF-8";

@font-face {
  font-family: "actadmin";
  src:url("../fonts/actadmin.eot");
  src:url("../fonts/actadmin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/actadmin.woff") format("woff"),
    url("../fonts/actadmin.ttf") format("truetype"),
    url("../fonts/actadmin.svg#actadmin") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "actadmin" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="actadmin-"]:before,
[class*=" actadmin-"]:before {
  font-family: "actadmin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.actadmin-bread:before {
  content: "\61";
}
.actadmin-helm:before {
  content: "\62";
}
.actadmin-play:before {
  content: "\63";
}
.actadmin-activity:before {
  content: "\64";
}
.actadmin-company:before {
  content: "\65";
}
.actadmin-file-text:before {
  content: "\66";
}
.actadmin-folder:before {
  content: "\67";
}
.actadmin-paw:before {
  content: "\68";
}
.actadmin-sort:before {
  content: "\6f";
}
.actadmin-sort-asc:before {
  content: "\70";
}
.actadmin-sort-desc:before {
  content: "\71";
}
.actadmin-handle:before {
  content: "\6d";
}
.actadmin-hammer:before {
  content: "\6e";
}
.actadmin-images:before {
  content: "\69";
}
.actadmin-categories:before {
  content: "\6a";
}
.actadmin-group:before {
  content: "\6b";
}
.actadmin-person:before {
  content: "\73";
}
.actadmin-people:before {
  content: "\74";
}
.actadmin-power:before {
  content: "\75";
}
.actadmin-tools:before {
  content: "\76";
}
.actadmin-anchor:before {
  content: "\77";
}
.actadmin-double-down:before {
  content: "\78";
}
.actadmin-double-up:before {
  content: "\79";
}
.actadmin-double-left:before {
  content: "\7a";
}
.actadmin-double-right:before {
  content: "\41";
}
.actadmin-window-list:before {
  content: "\42";
}
.actadmin-x:before {
  content: "\43";
}
.actadmin-dot:before {
  content: "\44";
}
.actadmin-dot-2:before {
  content: "\45";
}
.actadmin-dot-3:before {
  content: "\46";
}
.actadmin-list:before {
  content: "\47";
}
.actadmin-list-add:before {
  content: "\48";
}
.actadmin-pie-chart:before {
  content: "\49";
}
.actadmin-watch:before {
  content: "\4a";
}
.actadmin-data:before {
  content: "\4b";
}
.actadmin-music:before {
  content: "\4c";
}
.actadmin-settings:before {
  content: "\4e";
}
.actadmin-video:before {
  content: "\4f";
}
.actadmin-trash:before {
  content: "\50";
}
.actadmin-tv:before {
  content: "\51";
}
.actadmin-lock:before {
  content: "\52";
}
.actadmin-news:before {
  content: "\4d";
}
.actadmin-bag:before {
  content: "\53";
}
.actadmin-upload:before {
  content: "\54";
}
.actadmin-refresh:before {
  content: "\55";
}
.actadmin-character:before {
  content: "\57";
}
.actadmin-move:before {
  content: "\58";
}
.actadmin-paypal:before {
  content: "\56";
}
.actadmin-paper-plane:before {
  content: "\59";
}
.actadmin-ticket:before {
  content: "\5a";
}
.actadmin-youtube-play:before {
  content: "\30";
}
.actadmin-boat:before {
  content: "\31";
}
.actadmin-check:before {
  content: "\6c";
}
.actadmin-alarm-clock:before {
  content: "\32";
}
.actadmin-controller:before {
  content: "\34";
}
.actadmin-pizza:before {
  content: "\35";
}
.actadmin-backpack:before {
  content: "\36";
}
.actadmin-barbeque:before {
  content: "\37";
}
.actadmin-bomb:before {
  content: "\38";
}
.actadmin-book-download:before {
  content: "\39";
}
.actadmin-browser:before {
  content: "\21";
}
.actadmin-brush:before {
  content: "\22";
}
.actadmin-bubble-hear:before {
  content: "\23";
}
.actadmin-polaroid:before {
  content: "\24";
}
.actadmin-crop:before {
  content: "\26";
}
.actadmin-dashboard:before {
  content: "\27";
}
.actadmin-hotdog:before {
  content: "\28";
}
.actadmin-laptop:before {
  content: "\29";
}
.actadmin-paint-bucket:before {
  content: "\2c";
}
.actadmin-photo:before {
  content: "\2d";
}
.actadmin-photos:before {
  content: "\2e";
}
.actadmin-receipt:before {
  content: "\2f";
}
.actadmin-buy:before {
  content: "\3a";
}
.actadmin-lightbulb:before {
  content: "\3b";
}
.actadmin-archive:before {
  content: "\3f";
}
.actadmin-paperclip:before {
  content: "\40";
}
.actadmin-warning:before {
  content: "\5b";
}
.actadmin-basket:before {
  content: "\5d";
}
.actadmin-bell:before {
  content: "\5e";
}
.actadmin-book:before {
  content: "\5f";
}
.actadmin-chat:before {
  content: "\60";
}
.actadmin-down-circled:before {
  content: "\7b";
}
.actadmin-location:before {
  content: "\7d";
}
.actadmin-forward:before {
  content: "\7e";
}
.actadmin-flashlight:before {
  content: "\5c";
}
.actadmin-trophy:before {
  content: "\e001";
}
.actadmin-diamond:before {
  content: "\e002";
}
.actadmin-credit-cards:before {
  content: "\e003";
}
.actadmin-shop:before {
  content: "\e004";
}
.actadmin-sound:before {
  content: "\e005";
}
.actadmin-study:before {
  content: "\e006";
}
.actadmin-pen:before {
  content: "\e007";
}
.actadmin-params:before {
  content: "\e008";
}
.actadmin-fire:before {
  content: "\e009";
}
.actadmin-dollar:before {
  content: "\e00a";
}
.actadmin-bulb:before {
  content: "\e00b";
}
.actadmin-lab:before {
  content: "\e00c";
}
.actadmin-cup:before {
  content: "\e00d";
}
.actadmin-megaphone:before {
  content: "\e00e";
}
.actadmin-heart:before {
  content: "\e00f";
}
.actadmin-bubble:before {
  content: "\e011";
}
.actadmin-search:before {
  content: "\e012";
}
.actadmin-tag:before {
  content: "\e013";
}
.actadmin-world:before {
  content: "\25";
}
.actadmin-camera:before {
  content: "\2a";
}
.actadmin-calendar:before {
  content: "\7c";
}
.actadmin-mail:before {
  content: "\e014";
}
.actadmin-phone:before {
  content: "\e015";
}
.actadmin-star:before {
  content: "\e016";
}
.actadmin-star-half:before {
  content: "\e017";
}
.actadmin-star-half-1:before {
  content: "\e018";
}
.actadmin-star-two:before {
  content: "\e019";
}
.actadmin-medal-rank-star:before {
  content: "\e01a";
}
.actadmin-facebook:before {
  content: "\e01b";
}
.actadmin-google-plus:before {
  content: "\e01c";
}
.actadmin-twitter:before {
  content: "\e01d";
}
.actadmin-github:before {
  content: "\e01e";
}
.actadmin-code:before {
  content: "\e01f";
}
.actadmin-pie-graph:before {
  content: "\e020";
}
.actadmin-javascript:before {
  content: "\e021";
}
.actadmin-wand:before {
  content: "\e022";
}
.actadmin-wineglass:before {
  content: "\e023";
}
.actadmin-milestone:before {
  content: "\e024";
}
.actadmin-terminal:before {
  content: "\e025";
}
.actadmin-plug:before {
  content: "\e026";
}
.actadmin-gift:before {
  content: "\e027";
}
.actadmin-markdown:before {
  content: "\e028";
}
.actadmin-beer:before {
  content: "\e029";
}
.actadmin-credit-card:before {
  content: "\e02a";
}
.actadmin-bolt:before {
  content: "\e02b";
}
.actadmin-external:before {
  content: "\e02c";
}
.actadmin-magnet:before {
  content: "\e02d";
}
.actadmin-certificate:before {
  content: "\e02e";
}
.actadmin-cloud-download:before {
  content: "\e02f";
}
.actadmin-campfire:before {
  content: "\e030";
}
.actadmin-new:before {
  content: "\e031";
}
.actadmin-skull:before {
  content: "\e032";
}
.actadmin-telephone:before {
  content: "\e033";
}
.actadmin-trees:before {
  content: "\e034";
}
.actadmin-bar-chart:before {
  content: "\e035";
}
.actadmin-check-circle:before {
  content: "\e036";
}
.actadmin-exclamation:before {
  content: "\e037";
}
.actadmin-font:before {
  content: "\e03a";
}
.actadmin-puzzle:before {
  content: "\e03b";
}
.actadmin-smile:before {
  content: "\e03c";
}
.actadmin-frown:before {
  content: "\e03d";
}
.actadmin-meh:before {
  content: "\e03e";
}
.actadmin-leaf:before {
  content: "\e03f";
}
.actadmin-info-circled:before {
  content: "\e040";
}
.actadmin-underline:before {
  content: "\e041";
}
.actadmin-wallet:before {
  content: "\e042";
}
.actadmin-truck:before {
  content: "\e043";
}
.actadmin-eye:before {
  content: "\e044";
}
.actadmin-sun:before {
  content: "\e045";
}
.actadmin-barbell:before {
  content: "\e04a";
}
.actadmin-bookmark:before {
  content: "\e04c";
}
.actadmin-volume-up:before {
  content: "\e04d";
}
.actadmin-volume-down:before {
  content: "\e04e";
}
.actadmin-wifi:before {
  content: "\e04f";
}
.actadmin-pause:before {
  content: "\e053";
}
.actadmin-resize-full:before {
  content: "\e054";
}
.actadmin-resize-small:before {
  content: "\e055";
}
.actadmin-download:before {
  content: "\e056";
}
.actadmin-droplet:before {
  content: "\e057";
}
.actadmin-umbrella:before {
  content: "\e058";
}
.actadmin-harddrive:before {
  content: "\e059";
}
.actadmin-css3:before {
  content: "\e05a";
}
.actadmin-html5:before {
  content: "\e05b";
}
.actadmin-tree:before {
  content: "\e05e";
}
.actadmin-file-code:before {
  content: "\e061";
}
.actadmin-bug:before {
  content: "\e062";
}
.actadmin-rocket:before {
  content: "\e063";
}
.actadmin-key:before {
  content: "\33";
}
.actadmin-question:before {
  content: "\2b";
}
.actadmin-cursor:before {
  content: "\3c";
}
.actadmin-lifebuoy:before {
  content: "\3d";
}
.actadmin-thumbs-up:before {
  content: "\3e";
}
.actadmin-thumb-tack:before {
  content: "\e000";
}
.actadmin-edit:before {
  content: "\e010";
}
.actadmin-angle-down:before {
  content: "\e038";
}
.actadmin-angle-left:before {
  content: "\e039";
}
.actadmin-angle-right:before {
  content: "\e046";
}
.actadmin-angle-up:before {
  content: "\e047";
}
.actadmin-home:before {
  content: "\e048";
}
.actadmin-pirate-swords:before {
  content: "\e04b";
}
.actadmin-pirate:before {
  content: "\e050";
}
.actadmin-rum:before {
  content: "\e051";
}
.actadmin-cannon:before {
  content: "\e049";
}
.actadmin-hook:before {
  content: "\e052";
}
.actadmin-kraken:before {
  content: "\e05c";
}
.actadmin-lighthouse:before {
  content: "\e05d";
}
.actadmin-pirate-hat:before {
  content: "\e05f";
}
.actadmin-rum-1:before {
  content: "\e060";
}
.actadmin-ship:before {
  content: "\e064";
}
.actadmin-treasure:before {
  content: "\e065";
}
.actadmin-treasure-open:before {
  content: "\e066";
}
.actadmin-whale:before {
  content: "\e067";
}
.actadmin-compass:before {
  content: "\e068";
}
.actadmin-logbook:before {
  content: "\e069";
}
.actadmin-plus:before {
  content: "\e06a";
}
.actadmin-documentation:before {
  content: "\72";
}
.actadmin-belt:before {
  content: "\e06b";
}
.actadmin-zoom-in:before {
  content: "\e06c";
}
.actadmin-zoom-out:before {
  content: "\e06d";
}
.actadmin-scissors:before {
  content: "\e06e";
}
.actadmin-github-icon:before {
  content: "\e06f";
}
